.color_display {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background-color: rgb(179, 163, 105);
}

.centered_div {
  margin: auto;
  text-align: center;
}

.text {
  font-size: 30px;
  margin: 30px;
}

.color_input {
  text-align: center;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100px;
  height: 50px;
  border-radius: 25px;
}
